* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}



.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.social,
.logo,
.subscribe {
    border: 1px solid #5995DA;
} */


.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*make fit all items into de specificated dimension*/
    flex-direction: row;
    align-items: center;
    /* flex-direction: column;
    align-items: center; because direction was changed. justify-content doesn't have effect */
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}


.first-item {
    order: -1;
}

.last-item {
    order: -2;
}

.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;    
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial; /* blocks the property flex inherited from .footer-item, and fixing width in 300px*/
    width: 300px;
}

/*only .footer-two becomes flexible when resizing the browser*/

.signup {
    margin-left: auto;
}